@font-face {
  font-family: 'CirceBold';
  src: url('fonts/Circe-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'CirceRegular';
  src: url('fonts/Circe-Regular.ttf') format("truetype");
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #282828;
}

.background-video-wrapper {
    height: 100vh;
    width: auto;
    margin-bottom: -80px;
}

.background-video {
  height: 100%;
}

#myVideo {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  left: 0px;
  padding-bottom: -32px;
  top: 0px;
  z-index: 1;
}

.nav {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 64px;
  padding-right: 64px;
}

.nav__menu {
  display: flex;
}

.nav__menu-button {
  width: 94px;
  height: 29px;
  background: url('img/menu_button.svg');
  outline: none;
  margin-top: -5px;
  margin-left: 0;
  border: none;
}

.nav__contacts {
  display: flex;
}

.contact-card {
  margin-right: 24px;
}

.contact_card--text {
  font-family: 'CirceRegular';
  color: white;
  font-size: 14px;
}

.contact_card--logo {
  vertical-align: top;
  margin-right: 3px;
}

.nav__elem {
  margin-right: 20px;
}

.nav__elem--text {
  font-family: CirceRegular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.nav__elem--logo {
  margin-top: -9px;
  margin-right: 25px;
}

.card {
  margin-left: 64px;
  margin-top: 80px;
}

.card__title {
  margin: 0px;
  font-family: 'CirceBold';
  font-size: 56px;
  line-height: 58px;
  width: 300px;
  height: 140px;
  color: white;
}

.card__text-wrapper {
  position: absolute;
  top: 200px;
  left: 64px;
}

.card__paragraph {
  font-family: 'CirceRegular';
  color: white;
  width: 300px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 14px;
}

.card__action-button {
  display: block;
  margin-top: 40px;
  width: 245px;
  height: 48px;
  background: #049898;
  box-shadow: 0px 10px 20px rgba(0, 196, 137, 0.18), 0px 2px 6px rgba(0, 196, 137, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: 'CirceBold';
  font-size: 16px;
  color: white;
}

.services__cards-row {
  position: relative;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  margin-top: -120px;
  flex-wrap: wrap;
}

.services__elem {
  margin-right: 24px;
  margin-bottom: 24px;
  min-width: 250px;
  flex-basis: 260px;
  max-width: 320px;
  height: 298px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  flex-shrink: 1;
  flex-grow: 1;
}

.services__elem:last-child {
  margin-right: 0;
}

.services__elem:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.02), 0px 10px 40px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.services__elem:hover .services__elem__arrow {
  display: block;
}

.services__elem__desc {
  font-family: 'CirceBold';
  font-size: 16px;
  line-height: 24px;
  margin-left: 23px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #233A46;
}

.services__elem__price {
  font-family: 'CirceRegular';
  font-size: 12px;
  line-height: 18px;
  margin-left: 23px;
  margin-top: 0px;
  opacity: 0.64;
  color: #233A46;
}

.services__elem__arrow {
  left: 80%;
  bottom: 13%;
  position: relative;
  display: none;
}

.services__elem__text {
  display: inline-block;
  height: 42px;
  margin: 0;
  width: 240px;
}

.zub {
  margin-top: 24px;
  margin-left: 52px;
  margin-right: 52px;
  width: 200px;
  height: 200px;
}

.article {
  background-color: white;
  padding-left: 64px;
  display: flex;
}

/* The animation code */
@keyframes article-header {
  from {transform: translateY(0); opacity: 0;}
  to { transform: translateY(60px); opacity: 1;}
}

.article__image {
}

.article__header {
  margin-top: 252px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  width: 459px;
  line-height: 72px;
  color: #233A46;
  animation-name: article-header;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.article__paragraph {
  font-family: CirceRegular;
  width: 525px;
  color: #233A46;
  opacity: 0.48;
  margin-top: 80px;
  padding-bottom: 350px;
}