:root {
  --primary-color: #2B3033;
  --primary-black: #272727;
  --main-container-max-width: 1200px;
}

h4 {
  margin: 0;
}

hr {
  opacity: 0.3;
  margin: 0;
}

.container--main {
  margin: 0 auto;
  max-width: var(--main-container-max-width);
}

/*.gradient-filler {
  position: fixed;
  width: 100%;
  height: 123px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #000000 -36.92%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.64;
}
*/
@font-face {
  font-family: 'CirceBold';
  src: url('fonts/Circe-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'CirceRegular';
  src: url('fonts/Circe-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'LitteraTextMedium';
  src: url('fonts/LitteraTextMedium.ttf') format("truetype");
}

@font-face {
  font-family: 'LitteraTextRegular';
  src: url('fonts/LitteraTextRegular.ttf') format("truetype");
}

@font-face {
  font-family: 'LitteraTextBold';
  src: url('fonts/LitteraTextBold.ttf') format("truetype");
}

.primary_heading {
  font-family: 'LitteraTextMedium';
  font-style: normal;
  font-size: 56px;
  line-height: 56px;
  font-weight: 500;
}

.primary_desc {
  font-family: 'LitteraTextRegular';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.medium_header {
  font-family: 'LitteraTextMedium';
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}

.card_heading {
  font-family: 'LitteraTextBold';
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--primary-color);
}

.card_desc {
  font-family: 'LitteraTextRegular';
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  position: fixed;
  padding: 12px 0;
  transition: background-color 0.3s;
  margin: 0;
  z-index: 3;
  top: 0;
  left: 0;
}

.nav--colored {
  background-color: #2B3033;
  border-color: transparent;
}

.nav__inner {
  max-width: var(--main-container-max-width);
  display: flex;
  height: 40px;
  margin: 0 auto;
  justify-content: space-between;
  animation-fill-mode: forwards;
}

.nav__flex-container {
  display: flex;
  margin-right: -32px;
}

.nav__elem__menu-btn {
  position: relative;
  cursor: pointer;
}

.nav__elem__menu-btn__svg {
  border-radius: 2px;
  transition: background-color 200ms;
}

.nav__elem__menu-btn:hover .nav__elem__menu-btn__svg {
  background-color: #FFFFFF;
}

.nav__elem__menu-btn:hover .nav__elem__menu-btn__svg__line {
  stroke: var(--primary-color);
  fill: var(--primary-color);
}

.nav__elem__menu-btn:hover .nav__elem__menu-btn__svg__text {
  stroke-width: 0.1px;
  stroke: var(--primary-color);
  fill: var(--primary-color);
}

.nav__elem {
  margin-right: 32px;
  align-self: center;
}

.nav__elem--logo {
}
/*
.nav__whatsapp {
  text-decoration: none;
  vertical-align: top;
  color: white;
  font-family: 'CirceRegular';
  font-style: normal;
  font-size: 14px;
}

.nav__whatsapp:before {
  display: inline;
  vertical-align: top;
  content: url('img/contact_whatsapp.svg');
  margin-right: 4px;
}*/

.nav__phone {
  text-decoration: none;
  color: white;
}

.nav__phone:before {
  display: inline;
  content: url('img/contact_phone.svg');
  margin-right: 4px;
  position: relative;
  top: 2.5px;
}

.nav__link {
  text-decoration: none;
  color: white;
  padding-bottom: 23.5px;
}

.nav__link:after {
  content: '';
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  top: 23.5px;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: transform .3s ease;
  border-radius: 40px;
  transform: scaleX(0);
}

.nav__link:hover:after {
  transform: scaleX(1);
}

/*.video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--main-container-max-width);
  margin: 8% auto 0 auto;
}*/

.video-overlay__title {
  margin: 0 0 28px 0;
  color: #FFFFFF;
}

.video-overlay__description {
  margin: 0;
  width: 368px;
  color: #FFFFFF;
  opacity: 0.72;
}

.nav__elem--appointment-button {
  display: block;
  width: 175px;
  height: 33px;
  background: transparent;
  border-radius: 2px;
  border: 1px solid #FFFFFF;
  font-family: 'CirceBold';
  font-size: 14px;
  color: white;
  transition: background-color 180ms;
}

.nav__elem--appointment-button:focus {
  outline: none;
}

.nav__elem--appointment-button:hover {
  color: var(--primary-black);
  background-color: white;
  cursor: pointer;
}

.video--fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.main-screen {
  display: flex;
  position: relative;
  height: 690px;
  box-sizing: border-box;
  background-color: var(--primary-black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-screen__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 12px;
  width: 350px;
}

.main-screen__slide-controls {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-screen__social-buttons {
  position: absolute;
  right: 0;
  align-self: center;
}

.main-screen__content-wrapper {
  display: flex;
  position: relative;
  flex-basis: var(--main-container-max-width);
  align-self: center;
  justify-content: space-around;
  margin: 0 auto 0 auto;
}

.services {
  position: relative;
  bottom: 37px;
  display: flex;
  justify-content: center;
  margin-right: -24px;
  margin-bottom: 24px;
  z-index: 0;
}

.services--last-row {
  margin-bottom: calc(24px + 37px);
}

.services__elem {
  margin-right: 24px;
  min-width: 250px;
  flex-basis: 260px;
  max-width: 310px;
  height: 304px;
  border-radius: 10px;
  cursor: pointer;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: white;
  transition: transform 100ms linear;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02), 
              0 10px 40px rgba(0, 0, 0, 0.04), 
              0 2px 6px rgba(0, 0, 0, 0.04), 
              0 0 1px rgba(0, 0, 0, 0.04);
}

.services__elem:hover {
  transform: translateY(-5px);
}

.services__elem__desc {
  margin: 0 0 5.5px 0;
  color: var(--primary-color);
}

.services__elem__price {
  margin: 0;
  color: var(--primary-color);
  opacity: 0.64;
}

.services__elem__arrow {
  display: block;
  left: 80%;
  bottom: 20%;  
  position: relative;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.services__elem:hover .services__elem__arrow {
  visibility: visible;
  opacity: 1;
}

.services__elem__text {
  margin-left: 32px;
  margin-bottom: 20px;
}

.services__elem__image {
  display: block;
  margin: 24px auto 12px;
  width: 200px;
  height: 200px;
}

.tech {
  position: relative;
  padding: 96px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@keyframes techContent {
  from {
    opacity: 0;
    transform: translateY(-50px);

  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tech__content {
  opacity: 1;
  padding-right: 130px;
  width: 35%;
  height: 100%;
}

.tech__content__textgroup--fade {
  transform: translateY(50px);
  opacity: 0;
  transition-duration: 0.5s, 0.5s;
  transition-property: opacity, transform;
  animation-name: techContent;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
}

.tech__content__title {
  margin: 0 0 40px;
  color: var(--primary-color);
}

.tech__content__text {
  margin: 0 0 64px 0;
  opacity: 0.64;
  font-family: 'LitteraTextRegular';
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
}

.tech__slide-controls {
  display: block;
}

.swipe-button__svg--disabled {
  cursor: initial;
}

.swipe-button__svg__circle--disabled {
  stroke: grey;
}

.swipe-button__svg__fig--disabled {
  cursor: initial;
  stroke: grey;
}

.swipe-button__svg__circle--dark {
  stroke: white;
  fill: transparent;
  transition: fill 180ms;
}

.swipe-button__svg__fig--dark {
  cursor: initial;
  stroke: white;
}

.swipe-button__svg__circle {
  fill: transparent;
  transition: fill 180ms;
}

.swipe-button:hover .swipe-button__svg__circle {
  fill: var(--primary-black);
}

.swipe-button:hover .swipe-button__svg__fig {
  stroke: #FFFFFF;
}

.swipe-button:hover .swipe-button__svg__circle--dark {
  fill: #FFFFFF;
}

.swipe-button:hover .swipe-button__svg__fig--dark {
  stroke: var(--primary-black);
}

.swipe-button:hover .swipe-button__svg__circle--disabled {
  fill: white;
}

.swipe-button:hover .swipe-button__svg__fig--disabled {
  stroke: grey;
}

.tech__image {
  position: relative;
  width: 50%;
  border-radius: 10px;
}

.tech__image__inner {
  position: relative;
  border-radius: 6px;
  display: block;
  width: 100%;
  z-index: 1;
}

.tech__image_overlay {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #FFFFFF;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 200ms;
  border-radius: 6px;
}

.tech__image_overlay--scaled {
  animation-name: overlap;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-origin: top;
}

@keyframes overlap {
 from {
  transform: scaleY(0);
  transform-origin: top;
 }
 50% {
  transform: scaleY(1);
  transform-origin: top;
 }
 50.001% {
  transform-origin: bottom;
 }
 to {
  transform-origin: bottom;
  transform: scaleY(0);
  }
}

.doctors {
  position: relative;
  padding: 96px 0;
  box-sizing: border-box;
  display: flex;
  height: 700px;
}

.doctors__card {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02), 
              0 10px 40px rgba(0, 0, 0, 0.04), 
              0 2px 6px rgba(0, 0, 0, 0.04),
              0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 396px;
  margin-right: 24px;
  cursor: pointer;
  transition: transform 100ms linear;
}

.doctors__card:hover {
  transform: translateY(-5px);
}

.doctors__card__full-name {
  text-align: center;
  font-family: 'CirceBold';
  font-size: 16px;
  margin: 0;
  line-height: 24px;
  color: var(--primary-color);
}

.doctors__card__description {
  text-align: center;
  font-family: 'LitteraTextRegular';
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: var(--primary-color);
}

.swiper-container {
  width: 100%;
  padding: 25px;
}

.real-controls {
  position: absolute;
  top: 55%;
  z-index: 2;
}

.doctors__content {
  overflow: hidden;
  width: 60%;
  margin-right: 100px;
  opacity: 1;
  transition-delay: 0s, 0s, 0.3s;
  transition-duration: 0.5s, 0.5s, 0.3s;
  transition-property: width, margin-right, opacity;
  box-sizing: border-box;
}

.doctors__content--hide {
  width: 0;
  opacity: 0;
  margin-right: 0;
  transition-delay: 0.3s, 0.3s, 0s;
  transition-duration: 0.5s, 0.5s, 0.3s;
  transition-property: width, margin-right, opacity;
}


.doctors__content__title {
  margin: 0 0 40px;
  color: var(--primary-color);
}

.doctors__content__text {
  margin: 0 0 64px 0;
  font-family: 'LitteraTextRegular';
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
  opacity: 0.64;
}

.swipe-button {
  cursor: pointer;
}

.swipe-button--left {
  margin-right: 3px;
}