@font-face {
  font-family: 'CirceBold';
  src: url('fonts/Circe-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'CirceRegular';
  src: url('fonts/Circe-Regular.ttf') format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
}

.container--main {
  margin-left: 64px;
  margin-right: 64px;
}

.nav {
  top: 0;
  padding: 24px 64px 5px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition: background-color 0.3s;
  animation-fill-mode: forwards;
  box-sizing: border-box;
  left: 0;
}

.nav__flex-container {
  display: flex;
  margin-right: -20px;
}

.nav__elem__menu-button {
  position: relative;
  bottom: 4px;
  cursor: pointer;
}

.nav_colored {
  background-color: #233A46;
  transition: background-color 0.3s;
  animation-fill-mode: forwards;
}

.nav__elem {
  margin-right: 20px;
}

.nav__elem--logo {
  margin-top: -9px;
  margin-right: 25px;
}

.nav__elem--link {
  font-family: CirceRegular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

a:after {
  content: '';
  display: block;
  position: relative;
}

a:hover {
  cursor: pointer;
}

.nav__elem--link:after {
  left: 0;
  bottom: 0;
  top: 1px;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform .5s ease;
  transform: scaleX(0);
}

.nav__elem--link:hover:after {
  transform: scaleX(1);
}

.valign-top {
  vertical-align: top;
}

.video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 64px;
  margin-top: 8%;
}

.video-overlay__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: 'CirceBold';
  font-style: normal;
  font-size: 48px;
  line-height: 52px;
  color: #FFFFFF;
  width: 482px;
}

.video-overlay__description {
  margin: 0;
  margin-bottom: 48px;
  width: 368px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.video-overlay__button {
  display: block;
  width: 245px;
  height: 48px;
  background: #049898;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: 'CirceBold';
  font-size: 16px;
  color: white;
}

.video-overlay__button:hover {
  box-shadow: 0px 10px 20px rgba(0, 196, 137, 0.18), 0px 2px 6px rgba(0, 196, 137, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.fullscreen-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.services {
  position: relative;
  bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -25px;
  z-index: 0;
}

.services__elem {
  margin-right: 25px;
  margin-top: 5px;
  min-width: 250px;
  flex-basis: 260px;
  max-width: 320px;
  height: 298px;
  border-radius: 10px;
  cursor: pointer;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: white;
}

.services__elem:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.02), 0px 10px 40px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.services__elem__desc {
  font-family: 'CirceBold';
  font-size: 16px;
  margin: 0;
  line-height: 24px;
  color: #233A46;
}

.services__elem:hover .services__elem__desc {
  color: #049898;
}

.services__elem:hover .services__elem__arrow {
  display: block;
}

.services__elem__price {
  font-family: 'CirceRegular';
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  opacity: 0.64;
  color: #233A46;
}

.services__elem__arrow {
  left: 80%;
  bottom: 20%;
  position: relative;
  display: none;
}

.services__elem__text {
  margin-left: 32px;
  margin-bottom: 20px;
}

.services__elem__image {
  display: block;
  margin: 24px 55px 12px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
