.nav {
  top: 0;
  padding: 27px 64px 16px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition: background-color 0.3s;
  animation-fill-mode: forwards;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(255, 255, 255, .28);
  left: 0;
  &--colored {
    background-color: #233A46;
    border-color: transparent;
  }
}

.nav__link {
  text-decoration: none;
  color: white;
  &:after {
    content: '';
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    top: 28px;
    width: 100%;
    height: 1.5px;
    background-color: white;
    transition: transform .3s ease;
    transform: scaleX(0);
  }
  &:hover:after {
    transform: scaleX(1);
  }
}

.nav__menu-btn {
  position: relative;
  bottom: 5px;
  left: 20px;
  cursor: pointer;
  &:hover &__svg {
    background-color: #FFFFFF;
  }
  &:hover &__svg__line {
    stroke: #233A46;
    fill: #233A46;
  }
  &:hover &__svg__text {
    stroke: #233A46;
    fill: #233A46;
  }
}

.nav__menu-btn__svg {
  border-radius: 2px;
  transition: background-color 200ms;
}

.nav--colored {
  background-color: #233A46;
  transition: background-color 0.3s;
  animation-fill-mode: forwards;
  border-color: transparent;
}

.nav__elem {
  margin-right: 20px;
}

.nav__logo {
  margin-top: -9px;
  margin-right: 25px;
}