.services {
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: center;
  margin-right: -25px;
  margin-bottom: 24px;
  z-index: 0;
}

.services__elem {
  margin-right: 25px;
  min-width: 250px;
  flex-basis: 260px;
  max-width: 320px;
  height: 298px;
  border-radius: 10px;
  cursor: pointer;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: white;
  transition: transform 100ms linear;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.02), 
              0px 10px 40px rgba(0, 0, 0, 0.04), 
              0px 2px 6px rgba(0, 0, 0, 0.04), 
              0px 0px 1px rgba(0, 0, 0, 0.04);
  &:hover {
    transform: translateY(-5px);
  }
  &:hover &__arrow {
    visibility: visible;
    opacity: 1;
  }
}

.services__elem__desc {
  margin: 0;
  color: var(--primary-color);
}

.services__elem__price {
  margin: 0;
  color: var(--primary-color);
  opacity: 0.64;
}

.services__elem__arrow {
  display: block;
  left: 80%;
  bottom: 20%;
  position: relative;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.services__elem__text {
  margin-left: 32px;
  margin-bottom: 20px;
}

.services__elem__image {
  display: block;
  margin: 24px auto 12px;
  width: 200px;
  height: 200px;
}
